@model Slide

<h2>Create a slide</h2>
<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" type="text" class="form-control" placeholder="Your title goes here..." maxlength="100">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Body">Body</label>
        <textarea id="body" asp-for="Body" class="form-control" rows="10" maxlength="714" placeholder="Type away!"></textarea>
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>
    <div class="mt-2 col-md-12">
        <button type="submit" class="btn btn-primary">Create Slide</button>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var textarea = document.getElementById('body');
        var maxRows = 10;

        textarea.addEventListener('input', function () {
            var lines = this.value.split('\n');
            if (lines.length > maxRows) {
                // Remove the last line if the limit is exceeded
                lines.pop();
                this.value = lines.join('\n');
            }
        });
    });
</script>
